@use "../app.scss" as *;

.navigation {
  height: 100vh;
  width: 20vw;
  border: 1px solid black;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  background: $primary-color;
  color: white;

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    // gap: 1rem;
    overflow: hidden;

    .sidebar-logo {
      display: flex;
      align-self: center;
      width: 13rem;
      height: auto;
      margin: 5rem;
    }

    .overview {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      gap: 1rem;
      font-size: 1.5rem;
      color: white;
      padding: 0 100%;

      &:hover {
        background: linear-gradient(
          to right,
          rgba(250, 250, 250, 0.3),
          rgba(250, 250, 250, 0)
        );
      }
    }

    .cards {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      gap: 1rem;
      font-size: 1.5rem;
      color: white;
      padding: 0 100%;

      &:hover {
        background: linear-gradient(
          to right,
          rgba(250, 250, 250, 0.3),
          rgba(250, 250, 250, 0)
        );
      }
    }

    .deposit {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      gap: 1rem;
      font-size: 1.5rem;
      color: white;
      padding: 0 100%;

      &:hover {
        background: linear-gradient(
          to right,
          rgba(250, 250, 250, 0.3),
          rgba(250, 250, 250, 0)
        );
      }
    }

    .withdraw {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      gap: 1rem;
      font-size: 1.5rem;
      color: white;
      padding: 0 100%;

      &:hover {
        background: linear-gradient(
          to right,
          rgba(250, 250, 250, 0.3),
          rgba(250, 250, 250, 0)
        );
      }
    }
  }

  .settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;

    .profile {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      font-size: 1.5rem;
      font-weight: 1000;

      img {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
      }
    }

    .button {
      text-decoration: none;
    }

    .logout {
      display: flex;
      align-items: center;
      cursor: pointer;
      border: none;
      padding: 0.5rem 3rem;
      border-radius: 1rem;
      text-decoration: none;
      background: linear-gradient(
        to right,
        rgb(168, 100, 100),
        rgb(145, 72, 72),
        rgb(129, 63, 63)
      );
      background-size: 900%;
      background-position: 0;
      color: white;
      transition: 0.4s;

      &:hover {
        background-position: 100% 0;
      }
    }
  }
}
