@use '../app' as *;

.header{
    display: flex;
    flex-direction: row;
    margin: 4rem;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;

    .header1{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3rem;

        .logo{
            width: auto;
            height: auto;
            max-height: 6rem;
            margin: 0 5rem;
            display: block;
            cursor: pointer;
        }

        .services,
        .about,
        .help{
            padding: 1rem 1rem;
            color: $primary-color;
            text-decoration: none;
            font-weight: 400;
            font-size: 1.1rem;
            margin: auto;
            position: relative;

            &::after{
                content: '';
                height: 5px;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 250ms ease-in-out;
                background-color: $primary-color;
            }

            &:hover::after{
                transform: scaleX(1);
                transform-origin: left;
            }
        }
    }

    .login{
        padding: 1rem 1rem;
        color: $primary-color;
        text-decoration: none;
        font-weight: 1000;
        font-size: 1.1rem;
        position: relative;

        &::after{
            content: '';
            height: 5px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 250ms ease-in-out;
            background-color: $primary-color;
        }

        &:hover::after{
            transform: scaleX(1);
            transform-origin: left;
        }
    }

    .signup{
        margin: 2rem;
        padding: 1rem 2rem;
        background: linear-gradient(to right, $primary-color,rgb(134, 134, 134), $primary-color);
        background-size: 700%;
        background-position: 0%;
        color: $white-color;
        text-decoration: none;
        border-radius: 10px;
        font-weight: 1000;
        transition: 0.4s;

        &:hover{
            background-position: 100% 0;
        }

        &:active{
            background-position: 150% 0;

        }
    }
}